# dependencies
node_modules/

# env files
.env
.env.*
!.env.example

# logs
logs
*.log
npm-debug.log*

# build
dist/
build/

# prisma
prisma/dev.db
prisma/dev.db-journal

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# cache
.cache/